<template>
  <require from="../app/shake.css"></require>
  <style>

    p, h1,h2,h3 {
      max-width: 60ch;
      text-align: center;
      margin: auto;
      user-select: none;
    }

    paper-button {
      padding: 1rem;
      margin: 1rem;
    }

    #kidPicture {
      width: 200px;
    }

    .toolbar-top {
      background-color: var(--app-header-background-color);
    }

    [main-title] {
      font-family: "Pacifico";
      text-transform: lowercase;
      font-size: 30px;
      /* In the narrow layout, the toolbar is offset by the width of the
        drawer button, and the text looks not centered. Add a padding to
        match that button */
      padding-right: 44px;
    }

    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }

    .toolbar-list {
      display: none;
    }

    .toolbar-list > a {
      display: inline-block;
      color: var(--app-header-text-color);
      text-decoration: none;
      line-height: 30px;
      padding: 4px 24px;
    }

    .toolbar-list > a[selected] {
      color: var(--app-header-selected-color);
      border-bottom: 4px solid var(--app-header-selected-color);
    }

    .menu-btn {
      background: none;
      border: none;
      fill: var(--app-header-text-color);
      cursor: pointer;
      height: 44px;
      width: 44px;
    }

    .drawer-list {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      padding: 24px;
      background: var(--app-drawer-background-color);
      position: relative;
    }

    .drawer-list > a {
      display: block;
      text-decoration: none;
      color: var(--app-drawer-text-color);
      line-height: 40px;
      padding: 0 24px;
    }

    .drawer-list > a[selected] {
      color: var(--app-drawer-selected-color);
    }

    /* Workaround for IE11 displaying <main> as inline */
    main {
      display: block;
    }

    .main-content {
      padding-top: 64px;
      min-height: 100vh;
    }

    .page {
      display: none;
    }

    .page[active] {
      display: block;
    }

    footer {
      padding: 24px;
      background: var(--app-drawer-background-color);
      color: var(--app-drawer-text-color);
      text-align: center;
    }

    .container {
      background-color: orange;
      display: grid;
      grid-template-areas:
        "image"
        "welcome"
        "details"
        "buttons";
    }

    .image {
      grid-area: image;
      height: 40vh;
      display: flex;
      justify-content: center;
    }

    .whiteBackgroundArea {
      background-color: white;
      padding: 2rem 2rem 0 2rem;
      grid-area: details;
    }

    .welcomeTitle {
      grid-area: welcome;
    }

    .buttons {
      grid-area: buttons;
    }
  </style>

  <div class="container">
    <div class="image">
      <img
        height="100%"
        style="object-fit: contain"
        src="../../../../images/superhero.png"
        alt="Alt Text!"
      />
    </div>

    <div class="welcomeTitle">
      <div style="text-align:center;padding: 0 2rem 0 2rem">
        <h1 style="margin-top:1rem">Welcome to LittleHeroes</h1>

        <p style="text-align:center">
          Start rewarding your kids for good behaviour today! Keep them engaged
          with customizable avatars and monster pets. Invite Grandparents and
          other carers so they can award points. Receive updates when points are
          awarded by any members of the family.
        </p>

        <div show.bind="!loading">
          <!-- <div show.bind="!signedIn && !offline">
              <paper-button
                style="margin-top:1rem"
                click.delegate="Signup()"
                class="btn btn-primary btn-lg"
              >
                Signup
              </paper-button>
            </div> -->

          <div show.bind="(!signedIn && !offline) || dev">
            <paper-button
              style="margin-top:1rem;background-color:blue; color: white"
              click.trigger="Login()"
            >
              Login or Register
            </paper-button>
          </div>

          <div show.bind="(!signedIn && !offline) || dev">
            <paper-button
              style="margin-top:1rem;background-color:blue; color: white"
              click.trigger="QuickStart()"
            >
              QuickStart Option
            </paper-button>
          </div>

          <div show.bind="(signedIn && !offline) || dev">
            <div style="margin-bottom: 1rem;position:absolute; top:0;">
              <div>Welcome back</div>
              <span style="color:red">${username}</span>
            </div>
            <paper-button
              click.trigger="ViewHeroTastic()"
              style="margin-top:1rem;margin-bottom: 2rem; background-color: blue; color: white"
              class="btn btn-primary btn-lg"
            >
              View Heroes
            </paper-button>
          </div>

          <div show.bind="offline">
            <paper-button
              click.trigger="CheckOnlineOrNot()"
              style="margin-top:1rem"
              class="btn btn-primary btn-lg"
            >
              Offline - click to try again
            </paper-button>
            <h4 if.bind="OnlineCheckFailed">Still no luck afraid...</h4>
          </div>
        </div>
        <div show.bind="loading">
          <div
            class="GlobalButtonTextSize"
            style="display:flex;justify-content:center;align-items:center"
          >
            <span
              style="margin-right:0.5rem;"
              class="glyphicon glyphicon-refresh wait"
            ></span>
            <span>Connecting...</span>
          </div>
        </div>
      </div>
    </div>

    <div class="whiteBackgroundArea">
      <div style="margin-bottom:2rem;text-align:center">
        <p style="text-align:center">
          Each time 100 points is reached the reward is activated and can be
          redeemed. Multiple rewards can be built up and used in combination if
          saving wants to be promoted. The rewards themselves can be entered by
          the parent to ensure they are relevant. Each time the 100 points
          barrier is reached the level for that child is bumped and allows
          access to additional monster customisation
        </p>

        <h2>Mobile First - Progressive Web Application (PWA)</h2>
        <p>
          Little Heroes is a new kind of web page, designed to work across all
          mobile phones. It has the feel of a native application, will work even
          when you don't have a internet connection, can be installed and
          removed from your home screen just like an app, and updates in the
          background with a much smaller footprint than an equivalent native
          application.
        </p>
        <h3>Offline support*</h3>
        <p>
          LittleHeroes will work even when you don't have a signal. Any points
          awarded will be registered as soon as your device is back on line
        </p>
        <h3>Notifications</h3>
        <p>
          We can send you updates directly to your phone when a little hero is
          awarded points. Simply opt into these on the
          <a href="/Notifications">Notifications page</a>
        </p>
        <h3>Fullscreen</h3>
        <p>
          LittleHeroes uses all the real estate of your phone just like a native
          application. There is no browser bar reducing the space available to
          you.
        </p>
      </div>
      <div class="col-md-6">
        <div
          style="height:100%;align-items:center;display:flex;flex-direction:column;justify-content:center"
        >
          <img
            style="width:30vmin;display:block"
            src="../../../../images/phoneandscreenshot.png"
            alt="Screenshot"
          />
        </div>
      </div>
    </div>

    <div class="buttons">
      <div>
        <div show.bind="(signedIn && !offline) || dev">
          <paper-button
            click.trigger="ManageHeroes()"
            style="margin-top:1rem; background-color: blue; color: white"
            class="btn btn-primary btn-lg"
          >
            Manage Heroes
          </paper-button>
        </div>
      </div>

      <div show.bind="(signedIn && !offline) || dev">
        <paper-button
          click.trigger="ManageNotifications()"
          style="margin-top:1rem; background-color: blue; color: white"
          class="btn btn-primary btn-lg"
        >
          Manage Notifications
        </paper-button>
      </div>
    </div>
  </div>

  <div
    if.bind="signedIn"
    raised
    style="background-color: blue;color: white; text-align: center"
  >
    <paper-button click.trigger="Logout()">Logout</paper-button>
  </div>

  <!--Error occurred-->
  <div show.bind="errorHadOccurred">
    <div class="center">
      <h2>Oops something went wrong! ${errorMessage}</h2>
      <button class="btn btn-primary btn-lg " click.delegate="CloseError()">
        Close
      </button>
    </div>
  </div>
</template>
