    <style>
        body {
            font-size: calc(10px + 1vw);
        }

        .RegisteredKids {
            max-width: 300px;
            margin-top: 5px;
            display: flex;
            justify-content: space-between;
            font-size: 2rem;
        }

    </style>

    <div class="container">
        <h2>Rewards Admin</h2>


        <div repeat.for="child of browniePoints">
            <div style="display:flex;justify-content:space-between;margin-top:3.5rem;max-width: 50vw">
                <div style="margin-right: 1rem;">
                    ${child.childName}
                </div>
                <button click.trigger="ActivateAddRewards($index)"  class="btn btn-default addButton glyphicon glyphicon-plus"
                      aria-hidden="true">
                </button>
            </div>

            <div class="rewardText" if.bind="addingRewardActivated[$index]">
                <input type="text" name="rewardName" value.bind="newrewardName" />
                <button click.trigger="AddReward(child)">Confirm Add</button>
            </div>

            <div repeat.for="reward of child.rewards">


                <div style="display:flex;justify-content:space-between;max-width: 50vw;">
                    <div class="rewardText">
                        <input type="text" disabled.bind="!reward.editing" value.bind="reward.reward" />
                    </div>
                    <div>
                        <button click.trigger="RemoveReward(reward)" class="btn btn-default removeButton glyphicon glyphicon-remove"></button>
                        <button click.trigger="EditReward(reward)" class="btn btn-default editButton glyphicon glyphicon-pencil"></button>
                        <button click.trigger="SaveReward(reward)" class="btn btn-default saveButton glyphicon glyphicon-floppy-disk"></button>
                    </div>
                </div>
            </div>
        </div>

    </div>
