<template>
  <style>
    html,
    body {
      padding: 0;
      margin: 0;
    }

    h3 {
      margin-top: 5vh;
      margin-bottom: 5vh;
    }

    paper-button {
      margin-top: 1rem;
    }

    .inputgroup {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    input {
      font-size: 2rem;
      flex-grow: 1;
      min-height: 20px;
      margin-left: 1rem;
      margin-bottom: 1rem;
      flex-shrink: 0;
    }
    .data {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 95vh;
    }
  </style>

  <div class="container">
    <div class="data">
      <h3>Register</h3>
      <div class="inputgroup" style="grid-area: username">
        <label for="username">Username</label>
        <input
          id="papertest"
          label="Username"
          name="username"
          type="text"
          value.bind="myusername"
        >
        </input>
      </div>
      <div class="inputgroup" style="grid-area: password">
        <label for="Password">Password</label>
        <input
        name="Password"
          label="Password"
          type="Password"
          value.bind="mypassword"
        >
        </input>
      </div>

      <div>
        <paper-button click.trigger="Register()" raised>Register</paper-button>
      </div>
      <div>
        <paper-button click.trigger="Home()" raised>Return Home</paper-button>
      </div>

      <div if.bind="addedNewUserOk">
        Added new user ${usename} successfully
      </div>
     
      <div if.bind="!addedNewUserOk && attemptedAddNewUser">
        Sorry failed to add ${usename}
      </div>

    </div>
  </div>
</template>
