  <style>
    .center {
      display: grid;
      place-items: center;
      height: 100vh;
    }
    div {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }

    .btn {
      width: 50vw;
      margin-top: 1rem;
    }

    h3,
    h2,
    h1 {
      margin: 1rem;
      text-align: center;
    }

    .inputgroup {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    label {
      color: white;
    }

    .container {
      height: 100vh;
      grid-template-areas:
        "title"
        "inputs"
        "buttons";
      grid-template-rows: 1fr 1fr 4fr;
    }

    .CreationInProgress {
      place-items: center;
      height: 100vh;
      display: grid;
      grid-template-areas:
        "title"
        "button";
      grid-template-rows: 1fr 1fr;
    }

    input {
      font-size: 2rem;
      flex-grow: 1;
      min-height: 20px;
      margin-left: 1rem;
      margin-bottom: 1rem;
      flex-shrink: 0;
    }
  </style>

  <div if.bind="addedNewUserOk && !error" class="center">
    <h1>
      Added new user ${myusername} successfully
    </h1>
    <h2>
      Taking you back to the home page now...
    </h2>
  </div>

  <div show.bind="!connecting && !error" style="height:100vh;display:grid; place-items:center;">
    <h1>Please enter an email address and password for your new account</h1>
    <br />
    <br />
    <div>
      <div class="inputgroup">
        <input
          class="input"
          id="username"
          placeholder="Email"
          name="username"
          type="text"
          value.bind="myusername"
        />
      </div>
      <div class="inputgroup">
        <input class="input" id="password" name="Password" placeholder="Password" type="Password" value.bind="mypassword" />
      </div>
    </div>

    <div>
      <div>
        <button class="btn" click.trigger="Register()">
          <span if.bind="!error">Register</span>
          <span style="color: red;" if.bind="error">Failed to add user</span>
        </button>
      </div>
      <div>
        <button class="btn" click.trigger="Home()">Return Home</button>
      </div>
    </div>
  </div>

  <div class="center" if.bind="error">
      <h3>
        Sorry failed to add ${myusername}
      </h3>
      <div style="color: white;margin: 1rem;">
        Error Details: ${errorMsg}
      </div>
      <button class="btn" click.trigger="Home()">Return Home</button>
  </div>

  <div show.bind="connecting && !error">
    <div class="CreationInProgress">
      <div style="grid-area: title">
        <div style="display: grid; place-items: center;">
          <h1>Creating Your Account...</h1>
          <h1>hold tight, nearly done</h1>
          <div style="margin-top:2rem;" class="spinner"></div>
        </div>
      </div>
      <button
        class="btn"
        show.bind="DelayInCreationOfAccount"
        style="font-size: 2rem; grid-area: button;"
        click.trigger="Login()"
      >
        <span>Cancel</span>
      </button>
    </div>
  </div>
