/*@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
/*.body-content {
        padding-top: 50px;
    }*/
/*}*/



@keyframes myspinner {
  to {
    transform: rotate(360deg);
  }
}
:root {
  --button-color: rgb(255, 129, 45);
  --button-text: black;
}

paper-input {
  font-size: 2rem;
  color: white;
  --paper-input-container-input-color: white;
}

.alphaText {
  font-size: 0.8rem;
  color: var(--button-color);
}

.wait {
  animation: myspinner 3s infinite;
}

paper-button {
  background-color: var(--button-color);
  color: var(--button-text);
}

.OfflineDialog {
  z-index: 2;
  background-color: black;
  padding: 2rem;
  color: white;
}

html,
body {
  font-size: calc(8px + 1vmin);
  box-sizing: border-box;
  background-color: black;
  padding: 0;
  margin: 0;
}

/*This controls the size of the text on all the buttons*/
.btn,
.GlobalButtonTextSize {
  font-size: 1.5rem;
}

.TextColorOnBlackBackground {
  color: black;
}

/*Size of text in all paragraphs*/
p {
  font-size: 1.4rem;
}

h1 {
  font-size: 2.5rem;
  color: white;
}

h2 {
  font-size: 1.7rem;
  font-family: "Fredoka One", cursive;
  color: white;
}

h3 {
  font-size: 1.5rem;
  font-family: "Fredoka One", cursive;
  color: white;
}

h4 {
  font-size: 1.3rem;
  font-family: "Fredoka One", cursive;
  color: white;
}

h5 {
  font-size: 1.1rem;
  color: white;
}

.largeText {
  font-size: 1.5rem;
}

.loginScreens {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.centerVertical {
  display: flex;
  flex-direction: column;
}

.orangeBackground {
  background-color: black;
  color: white;
}

.removeButton {
  color: red;
  cursor: pointer;
}

.addButton {
  cursor: pointer;
  color: green;
}

.editButton {
  cursor: pointer;
  color: purple;
}

.rewardText {
  font-size: 1.5rem;
  margin-right: 1rem;
}

paper-button.Continue {
  font-family: "Fredoka One", cursive;
  font-size: 5rem;
  margin: 0;
  padding: 0;
}

.VerticalList {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}
