  <style>
    ul, li, p {
      color: var(--text-color);
    }
  </style>
  <ul>
     <li>
      What We Collect
      <p>The only information we require from you is an email adress and password.</p>
    </li>
    <li>
      How We Use Information About You
    </li>
    <li>
      How Information About You is Shared
    </li>
    <li>
      Ads and Analytics Partners
    </li>
    <li>
      Your Choices
    </li>
    <li>
      Other Information
    </li>
    <li>
      Contact Us
    </li>
  </ul>
