<template>
  <require from="../../library/Spinner/spinner.css"></require>

  <style>
    html,
    body {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      background: black;
      color: white;
    }

    label {
      font-family: "Gochi Hand", cursive;
      font-size: 3rem;
    }

    .hidden {
      display: none;
    }

    .loginFailed {
      color: red;
    }

    .horizontalcenter {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }

    h3 {
      margin-top: 5vh;
      margin-bottom: 5vh;
    }

    paper-button {
      margin-top: 1rem;
    }

    .inputgroup {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .data {
      display: grid;
      grid-template-rows: 40vh 1fr 1fr;
      grid-template-areas:
        "signin"
        "register"
        "back";
      height: 100vh;
      min-height: 600px;
    }
    .ErrorMsgs div {
      text-align: center;
    }

  </style>

  <div class="data">
    <div style="grid-area: signin">
      <div class="horizontalcenter">
        <h3>Already signed up?</h3>
        <div>
          <paper-input
            ID="Username"
            label="Username"
            name="username"
            type="text"
            value.bind="myusername"
          >
          </paper-input>
        </div>
        <div>
          <paper-input
            name="Password"
            id="Password"
            label="Password"
            type="Password"
            value.bind="mypassword"
          >
          </paper-input>
        </div>
        <div style="min-height:5rem; display: grid; place-items:center;">
          <paper-button
            style="min-height: 4rem; width: 50vw"
            show.bind="!loginFailed"
            click.trigger="Login()"
            raised
          >
            <div class="${attemptingLogin ? 'spinner' : 'hidden'}"></div>
            <span show.bind="attemptingLogin">Attempting Login...</span>
            <span show.bind="!loginFailed && !attemptingLogin">Login</span>
          </paper-button>
          <div show.bind="loginFailed" class="ErrorMsgs" >
            <div style="margin:1rem 0 0 0;width: 70vw;">
              Failed to login: 
              <div>
                ${errorMsg1}
              </div>
              <div>
                ${errorMsg2}
              </div>
              <div>
                ${errorMsg3}
              </div>
            </div>
          </div>
        </div>
        <div style="margin-top: 1rem;min-height: 20vh;">
          <paper-checkbox value.bind="rememberMe">Remember me</paper-checkbox>
        </div>
      </div>
    </div>

    <div style="grid-area: register;align-self:flex-end">
      <div class="horizontalcenter">
        <h3 style="margin-bottom:0" id="RegisterTitle">First time here?</h3>
        <paper-button id="RegisterButton" raised click.trigger="Register()">Register</paper-button>
      </div>
    </div>

    <div style="grid-area: back">
      <div class="horizontalcenter">
        <h3 style="margin-bottom:0">I'm not meant to be here!</h3>
        <paper-button raised click.trigger="Home()">Home</paper-button>
      </div>
    </div>
  </div>
</template>
