<template>
  <style>
    html, body {
      padding:0;margin:0;
    }

    H3 {
      margin-top: 5vh;
      margin-bottom: 5vh;
    }

    paper-button {
      margin-top: 1rem;
    }
    
    .inputgroup {
      display: flex;
      justify-content: center;
      align-items:center;
    }

    paper-input {
      font-size: 2rem;
      flex-grow:1;
      min-height: 20px;
      margin-left: 1rem;
      flex-shrink:0;
    }
    .data {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items:center;
      height: 95vh;
    }
  </style>

  <div class="container">
  <form action="post">
    <div class="data">  
     
      <h3>Already signed up? </h3>
      <div class="inputgroup" style="grid-area: username">
        <paper-input label="Username"  value.bind="username">
          </paper-input>
      </div>
      <div class="inputgroup" style="grid-area: password">
          <paper-input label="Password" type="Password" value.bind="password">
          </paper-input>
      </div>

      <div>
          <paper-button  click.trigger="Login()" raised>Login</paper-button>
          <paper-checkbox value.bind="rememberMe">Remember me</paper-checkbox>
      </div>

      <h3 id="RegisterTitle">First time here?</h3>
      <paper-button id="RegisterButton" raised onlick.trigger="Register()">Register</paper-button>

    </div>
  </form>
</div>
</template>
