<template>
  <style>
    html,
    body {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }

    .horizontalcenter {
      display:flex;
      flex-direction:column;
      align-items: center;
    }

    h3 {
      margin-top: 5vh;
      margin-bottom: 5vh;
    }

    paper-button {
      margin-top: 1rem;
    }

    .inputgroup {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    input {
      font-size: 2rem;
      flex-grow: 1;
      min-height: 20px;
      margin-left: 1rem;
      margin-bottom: 1rem;
      flex-shrink: 0;
    }
    .data {
      display: grid;
      grid-template-rows: 3fr 2fr 1fr;
      grid-template-areas: "signin"
                            "register"
                            "back";
      height: 95vh;
      justify-content: space-around;
      align-items: center;
    }
  </style>


    <div class="data">
      <div style="grid-area: signin">
        <div class="horizontalcenter">
          <h3>Already signed up?</h3>
          <div class="inputgroup" style="grid-area: username">
            <label for="username">Username</label>
            <input
              id="papertest"
              label="Username"
              name="username"
              type="text"
              value.bind="myusername"
            >
            </input>
          </div>
          <div class="inputgroup" style="grid-area: password">
            <label for="Password">Password</label>
            <input
            name="Password"
              label="Password"
              type="Password"
              value.bind="mypassword"
            >
            </input>
          </div>
          <div>
            <paper-button click.trigger="Login()" raised>Login</paper-button>
            <paper-checkbox value.bind="rememberMe">Remember me</paper-checkbox>
          </div>
        </div>
      </div>

      <div style="grid-area: register">
        <div class="horizontalcenter">
          <h3 id="RegisterTitle">First time here?</h3>
          <paper-button id="RegisterButton" raised click.trigger="Register()"
            >Register</paper-button
          >
        </div>
      </div>

      <div style="grid-area: back">
        <div class="horizontalcenter">
          <h3>Take me Home!</h3>
          <paper-button raised click.trigger="Home()"
            >Home</paper-button
          >
        </div>
      </div>
    </div>

</template>
