<template>
  <style>
    .NameAndDeleteButton {
      display: flex;
      width: 50vw;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.3rem;
    }

    .Myflex {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100vh;
      align-items: center;
    }

    label {
      color: var(--text-color);
    }

    input {
      font-size: 3rem;
    }

    KidsFlex > paper-button {
      font-size: 10rem;
      border-radius: 0;
    }

    .DeleteBtn {
      font-size: 1.5rem;
    }
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    .KidsFlex {
      display: flex;
      flex-direction: column;
      font-size: 3rem;
      height: 100vh;
      justify-content: space-between;
    }

    .title {
      text-align: center;
      margin-bottom: 3rem;
      margin-top: 5rem;
    }

    .border {
      padding: 2rem;
      border: 1rem solid mediumblue;
    }
  </style>

  <!--Error occurred-->
  <div show.bind="displayError">
    <div class="center">
      <h2>${errorMessage}</h2>
      <paper-button class="btn btn-primary btn-lg " click.trigger="CloseError()">
        Close
      </paper-button>
    </div>
  </div>

  <div class="KidsFlex" show.bind="addingChildActivated">
    <div style="display:flex;align-items:center;justify-content:center">
      <label for="childName">Name</label>
      <input
        class="inline"
        style="max-width: 40vw;margin-left:1rem"
        maxlength="20"
        type="text"
        name="childName"
        value.bind="newChildName"
      />
    </div>
    <div style="display: flex;">
      <paper-button style="flex-grow: 1" raised click.trigger="AddChild()"> Add </paper-button>
      <paper-button style="flex-grow: 1" raised click.trigger="Cancel()"> Cancel </paper-button>
    </div>
  </div>

  <div class="Myflex orangeBackground" show.bind="!addingChildActivated">
    <h1 class="title">Manage Heroes</h1>

    <div class="border" repeat.for="child of registeredKids">
      <div class="NameAndDeleteButton">
        <div class="largeText">${child.childName}</div>
        <paper-button class="DeleteBtn" raised click.trigger="RemoveChild(child)">
          delete
        </paper-button>
      </div>
    </div>

    <div style="display: flex">
      <paper-button raised click.trigger="ActivateAddChild()">Add New</paper-button>
    </div>

    <div show.bind="loading">
      <span>Attempting add..</span>
      <span class="glyphicon glyphicon-refresh wait"> </span>
    </div>

    <paper-button raised click.trigger="Home()">Return Home</paper-button>
  </div>
</template>
